POSTGRESQL_USERNAME=pgsql
POSTGRESQL_PASSWORD=devpass
# желательно под конкретный проект дать более говорящее имя
POSTGRESQL_DATABASE=dev-base

POSTGRESQL_PORT=25432
MONGODB_PORT=27017
REDIS_PORT=16379
